body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.name-highlight {
    color: rgb(16, 198, 243);
}
.half-width {
    width: 45%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}